spring:
  application:
    name: ForumBoxChat

  datasource:
    url: jdbc:mysql://localhost:3306/ForumBoxChat?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true


  mail:
    host: smtp.gmail.com
    port: 587
    username: "g.trung.hieu.08@gmail.com"
    password: "tdqv lleo uhiw lvog"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: localhost
      port: 6379


server:
  port: 8080

jwt:
  signerkey: yG7Q9fL23kP8Sd91mH4vB2zQ8xW9eL02uF6dS1qP9mA0kV4bT8cR9uP1tY2vW3xZ
  expiration: 86400000

app:
  baseurl: http://192.168.1.177:8080